<div class="normalBanner">
    <section class="webBannerContainer">
      <div class="websiteBannerContent">
        <div class="title">
          <button mat-button (click)="navigateStore()"><h1>Haze</h1></button>
        </div>
        <div class="buttons">
          <button (click)="routeToCart()" mat-icon-button>
            <mat-icon class="icon">shopping_cart</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="icon">account_circle</mat-icon>
          </button>
          <mat-menu backdropClass="dropdown" #menu="matMenu" [overlapTrigger]="false">
            <button (click)="navigateProfile()" mat-menu-item>Profile Page</button>
            <button mat-menu-item (click)="navigatePreferences()">Preferences</button>
            <button mat-menu-item (click)="navigateLogin()">Log Out</button>
          </mat-menu>
        </div>
      </div>
    </section>
  </div>