<app-web-banner></app-web-banner>
<div class="addressBodyStyle">
    <mat-card class="addressCardStyle">
        <h1 style="text-align: center;">{{selectedGame.productName}}</h1>
        <h3 style="text-align: center; color: green;" *ngIf="addedWishList">Game added to wish list!</h3>
        <h3 style="text-align: center; color: green;" *ngIf="removedWishList">Game removed from wish list!</h3>
        <h3 style="color:red; text-align: center;" *ngFor="let error of errors">{{error}}</h3>
        <section *ngIf="selectedGame.coverImgUrl != null || selectedGame.coverImgUrl != ''">
            <img src="{{selectedGame.coverImgUrl}}" class="imgStyle">
        </section>
        <div class="detailArea">
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Game Description</mat-label>
                <textarea matInput readonly cdkTextareaAutosize value="{{selectedGame.description}}"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Price</mat-label>
                <input matInput readonly value="{{selectedGame.price}}">
            </mat-form-field>            
            <div style="display: flex;">
                <button class="buttonStyle" (click)="addToWishlist()" *ngIf="!isInWishlist" mat-stroked-button>Add to wishlist</button>
                <button class="buttonStyle" (click)="removeFromWishlist()" *ngIf="isInWishlist" mat-stroked-button>Remove from wishlist</button>
                <button class="buttonStyle" (click)="addToCart()" mat-stroked-button>Add to cart</button>
            </div>
        </div>
        <br><br>
        <button mat-stroked-button class="buttonStyle" (click)="routeToStore()">Back to store</button>
        <br><br>

        <div class="adminArea" *ngIf="userData.role=='Admin'">
            <h1 style="text-align: center;">Admin Options</h1>
            <h3 style="text-align: center; color: green;" *ngIf="deleted == true">Product Deleted</h3>
            <h3 style="text-align: center; color: green;" *ngIf="updatedGame == true">Game Updated!</h3>
            <div *ngIf="editingGame == true">
                <h3 style="text-align: center;">Update {{selectedGame.productName}}</h3>
                <form [formGroup]="updateGroup">
                    <mat-form-field appearance="fill" class="inputSet">
                        <mat-label>Game Name</mat-label>
                        <textarea [formControl]="gameNameCtrl" matInput cdkTextareaAutosize></textarea>
                        <mat-error>Game Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="inputSet">
                        <mat-label>Description</mat-label>
                        <input matInput [formControl]="descriptionCtrl">
                        <mat-error>Game Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="inputSet">
                        <mat-label>Price</mat-label>
                        <input matInput [formControl]="priceCtrl">
                        <mat-error>Game Name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="inputSet">
                        <mat-label>Cover Image URL</mat-label>
                        <input matInput [formControl]="coverImgUrlCtrl">
                    </mat-form-field>
                    <div style="margin-left: 10%;">
                        <h3>Categories</h3>
                        <mat-checkbox [color]="'primary'" class="inputSet" [formControl]="categoryCtrl" (click)="addToCategories(item)" *ngFor="let item of categories">
                            {{item.name}}
                        </mat-checkbox>
                    </div>
                    <br>
                    <div style="margin-left: 10%;">
                        <h3>Platform</h3>
                        <mat-checkbox [color]="'primary'" class="inputSet" [formControl]="platformCtrl" (click)="addToPlatforms(item)" *ngFor="let item of platforms">
                            {{item.name}}
                        </mat-checkbox>
                    </div>
                    <br>
                </form>
            </div>
            <div style="display: flex;" *ngIf="editingGame == true">
                <button class="buttonStyle" (click)="updateGame()" mat-stroked-button>Submit Changes</button>
                <button class="buttonStyle" (click)="cancelEdits()" mat-stroked-button>Cancel Changes</button>
                <br><br>
            </div>
            <div style="display: flex;" *ngIf="editingGame == false">
                <button class="buttonStyle" (click)="editGame()" mat-stroked-button>Edit Game</button>
                <button class="buttonStyle" (click)="deleteGame()" mat-stroked-button>Delete Game</button>
            </div>
        </div>
    </mat-card>
</div>