<app-web-banner></app-web-banner>

<!--PUT IN SECTION LEFT-->
<!--ON CLICK CHANGE TO class='friend selected' and display PROFILE on right section-->
<mat-card class="mat-card mat-elevation-z4 container" >
    <mat-list>
        <mat-list-item>{{theirUser.username}}</mat-list-item>
            <mat-divider></mat-divider>
            <img class="profilePic" src="assets/user-icon.png" />
            <mat-divider></mat-divider>
        </mat-list>
        <mat-list>
            Wishlist
        </mat-list>
</mat-card>
