<div class="passwordRecoveryBodyStyle">
    <mat-card class="passwordRecoveryCardStyle">
        <h1 style="text-align: center;">Password Recovery</h1>
        <div class="infoFormSpot">
            <mat-form-field appearance="fill" class="infoInputs">
                <mat-label>Username</mat-label>
                <input matInput>
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="infoInputs">
                <mat-label>Email</mat-label>
                <input matInput>
                <mat-error></mat-error>
            </mat-form-field>
            <br>
            <br>
            <button class="buttonStyle" mat-stroked-button >Submit</button>
            <br>
            <br>
            <button mat-button (click)="routeToLogin()">Return to Login</button>
        </div>
    </mat-card>
</div>