:host {
    .passwordRecoveryBodyStyle {
        width: 60%;
        height: 100%;
        padding-top: 3%;
        margin: 0 auto;

        .passwordRecoveryCardStyle {
            width: auto;
            height: auto;
            margin-top: 3%;

            .infoFormSpot {
                width: 100%;
                height: auto;

                .infoInputs {
                    padding: 1%;
                    width: 80%;
                    margin: auto;
                    display: block;
                }

                .buttonStyle {
                    margin: auto;
                    display: block;
                    width: 30%;
                }



                .mat-checkbox.mat-accent .mat-checkbox-inner-container {
                    margin: 2px 8px auto 0;
                }
            }
        }
    }
}