<div class="setHeight">
  <mat-toolbar>
    <div class="buttonSpot">
      <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="menuOptionSection widthAuto">
      <button mat-button (click)="drawer.close()" (click)="setDisplayStore()">
        <h5>Store</h5>
      </button>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="menuOptionSection widthAuto">
      <button mat-button (click)="drawer.close()" (click)="setDisplayEvents()">
        <h5>Events</h5>
      </button>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="menuOptionSection widthAuto">
      <button mat-button (click)="drawer.close()">
        <h5>Social</h5>
      </button>
    </div>
  </mat-toolbar>
  <mat-drawer-container class="containerStyle">
    <mat-drawer class="sideNavDrawer" #drawer mode="over" opened="false">
      <mat-nav-list class="sideNavList">
        <mat-list-item>
          <a mat-list-item (click)="drawer.toggle()" (click)="setDisplayStore()">View Game Library</a>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <mat-list-item>
          <a mat-list-item (click)="drawer.toggle()" (click)="setDisplayWishList()">View Wish List</a>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <br>
        <h2 style="text-align: center;" *ngIf="userData.role == 'Admin'">Admin Options</h2>
        <mat-divider>
        </mat-divider>
        <mat-list-item *ngIf="userData.role == 'Admin'">
          <a mat-list-item [routerLink]="['/createAdmin']" (click)="drawer.toggle()">Create Admin Account</a>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <mat-list-item *ngIf="userData.role == 'Admin'">
          <a mat-list-item [routerLink]="['/createGame']" (click)="drawer.toggle()">Create Game</a>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <mat-list-item *ngIf="userData.role == 'Admin'">
          <a mat-list-item [routerLink]="['/createEvent']" (click)="drawer.toggle()">Create Events</a>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <mat-list-item *ngIf="userData.role == 'Admin'">
          <a mat-list-item (click)="drawer.toggle()">View/Approve User Reviews</a>
        </mat-list-item>
        <mat-divider>
        </mat-divider>
        <mat-list-item *ngIf="userData.role == 'Admin'">
          <a mat-list-item [routerLink]="['/reports']" (click)="drawer.toggle()">Generate Reports</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="mainStoreArea">
        <div *ngIf="displayGames == true && displayWishList == false && displayEvents == false">
          <h1>Available Games</h1>
          <div class="gameCategoryArea">
            <mat-grid-list cols="8" rowHeight="2:1" style="margin-right: 2%;">
              <mat-grid-tile *ngFor="let item of games;" class="gameTile">
                <!--<button mat-stroked-button (click)="routeToDetails(item.product)">{{item.product.productName}}</button>-->
                  <img alt="{{item.productName}}" (click)="routeToDetails(item)" src="{{item.coverImgUrl}}"  class="imgStyle">
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <div *ngIf="displayWishList == true && displayGames == false && displayEvents == false">
          <h1>Wishlist Games</h1>
          <div class="gameCategoryArea">
            <mat-grid-list cols="8" rowHeight="2:1">
              <mat-grid-tile *ngFor="let item of wishlistGames;" class="gameTile">
                <!--<button mat-stroked-button (click)="routeToDetails(item.product)">{{item.product.productName}}</button>-->
                <section *ngIf="item.product.coverImgUrl != null || item.product.coverImgUrl != ''">
                  <img (click)="routeToDetails(item.product)" src="{{item.product.coverImgUrl}}"  class="imgStyle">
                </section>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
        <div style="margin-bottom: 5%;"
          *ngIf="displayWishList == false && displayGames == false && displayEvents == true">
          <h1>Upcoming Events</h1>
          <div class="gameCategoryArea" *ngFor="let item of events;">
            <h3>{{item.eventName}}</h3>
            <p>Begins {{item.startDate}}</p>
            <p>Ends {{item.endDate}}</p>
            <br>
            <p>Included Games</p>
            <mat-grid-list cols="8" rowHeight="2:1">
              <mat-grid-tile *ngFor="let item of eventsGames" class="gameTile">
                <!--<button mat-stroked-button (click)="routeToDetails(item.product)">{{item.product.productName}}</button>-->
                <section *ngIf="item.product.coverImgUrl != null || item.product.coverImgUrl != ''">
                  <img (click)="routeToDetails(item.product)" src="{{item.product.coverImgUrl}}"  class="imgStyle">
                </section>
              </mat-grid-tile>
            </mat-grid-list>
            <br>
            <button mat-stroked-button (click)="routeToEventDetails(item)">View {{item.eventName}} Details</button>
          </div>
          <br>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>