<app-web-banner></app-web-banner>
<div class="addressBodyStyle">
    <mat-card class="addressCardStyle">
        <h1 style="text-align: center;">Add/Update Address</h1>
        <form>
            <p style="color:red; margin-left: 10%;" *ngFor="let error of errors">{{error}}</p>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Billing Address</mat-label>
                <input matInput [formControl]="billingAddressCtrl">
                <mat-error>Shipping address is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Shipping Address</mat-label>
                <input matInput [formControl]="shippingAddressCtrl">
                <mat-error>Shipping address is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Home Address</mat-label>
                <input matInput [formControl]="homeAddressCtrl">
                <mat-error>Shipping address is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Home 2</mat-label>
                <input matInput [formControl]="homeAddress2Ctrl">
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>City</mat-label>
                <input matInput [formControl]="cityCtrl">
                <mat-error>Shipping address is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Province</mat-label>
                <mat-select>
                    <mat-option *ngFor="let item of provinces;" [value]="item">{{item}}</mat-option>
                </mat-select>
                <mat-error>Shipping address is required</mat-error>
            </mat-form-field>
        </form>
        <br><br>
        <button mat-stroked-button class="buttonStyle">Submit</button>
    </mat-card>
</div>