<app-web-banner></app-web-banner>
<div class="loginBody">
    <mat-card class="loginCard">
        <h1 style="text-align: center; font-weight: bold;">Checkout</h1>
        <br>
        <h2 style="text-align: center; font-weight: bold; color: green;" *ngIf="gamesPurchased">Games successfully purchased!</h2>
        <h2 style="text-align: center; font-weight: bold; color: green;" *ngIf="cartCleared">Cart cleared, routing to store page.</h2>
        <h2 style="text-align: center; font-weight: bold; color: red;" *ngIf="submitError">CVC is required</h2>
        <h2 style="text-align: center; font-weight: bold; color: red;" *ngIf="cartError">No games in cart!</h2>
        <br>

        <h2>Subtotal: ${{cartCost}}</h2>
        <br>
        <h2>Tax: ${{taxCost}}</h2>
        <br>
        <h2>Full Cost: ${{fullCost}}</h2>

        <br>
        <h2>Selected Games: </h2>

        <mat-grid-list cols="4" rowHeight="2:1" style="margin-right: 2%;">
            <mat-grid-tile *ngFor="let game of gamesInCart" class="gameTile">
                <img alt="{{game.productName}}" (click)="routeToDetails(game)" src="{{game.coverImgUrl}}"
                    class="imgStyle">
            </mat-grid-tile>
        </mat-grid-list>

        <br>
        <h2>Selected Payment Method:</h2>

        <mat-error *ngIf="currentCards.length == 0">No payment methods saved! Please save one to complete checkout
        </mat-error>

        <mat-radio-button [color]="'primary'" class="radioStyle" value="i" (click)="setCurrentCard(card)"
            *ngFor="let card of currentCards; let i = index;">Payment Option {{i + 1}}</mat-radio-button>


        <br><br>

        <section *ngIf="currentCard != null">
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Card Number</mat-label>
                <input matInput value="{{currentCard.creditCardNumber}}" readonly="true">
            </mat-form-field>

            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Expiration Date</mat-label>
                <input matInput value="{{currentCard.expiryDate}}" readonly="true">
            </mat-form-field>

            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>CVC Number</mat-label>
                <input matInput [formControl]="cvcCtrl">
                <mat-error *ngIf="cvcCtrl.hasError('required')">CVC Number is required</mat-error>
                <mat-error *ngIf="cvcCtrl.hasError('pattern')">Must be a 3 digit number</mat-error>
            </mat-form-field>
        </section>
        <div style="display: flex;">
            <button mat-stroked-button (click)="purchaseGames()" style="flex: 1;" class="buttonStyle">Purchase</button>
            <button mat-stroked-button (click)="clearCart()" style="flex: 1;" class="buttonStyle">Clear Cart</button>
        </div>
    </mat-card>
</div>