<div class="loginBody">
    <mat-card class="loginCard">
        <img src="assets/haze-logo.png" alt="Haze Png" class="imageStyle">
        <br>
        <h1 style="text-align: center; font-weight: bold;">Register</h1>
        <br>
        <form [formGroup]="registerGroup">
            <p style="color:red; margin-left: 10%;" ></p>
            <p style="color: green; margin-left: 10%;" *ngIf="success == true">Account successfully registered! Routing to login page</p>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Username</mat-label>
                <input matInput [formControl]="usernameCtrl">
                <mat-error *ngIf="usernameCtrl.hasError('required')">Username is required</mat-error>
            </mat-form-field>
            <br><br>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Email</mat-label>
                <input id="emailCtrl" matInput type="email" [formControl]="emailCtrl">
                <mat-error *ngIf="emailCtrl.hasError('required')">Email is required</mat-error>
                <mat-error *ngIf="emailCtrl.hasError('email')">A valid email is required</mat-error>
            </mat-form-field>
            <br><br>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Password</mat-label>
                <input id="passwdCtrl" matInput type="password" [formControl]="passwdCtrl">
                <mat-error *ngIf="passwdCtrl.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="passwdCtrl.hasError('pattern')">Password must be minimum eight characters, at least
                    one letter and one number</mat-error>
            </mat-form-field>
        </form>
        <br><br>

        <button mat-stroked-button class="buttonStyle" (click)="attemptCreate()">Register</button>
        <br>
        <br>
        <div style="display: flex;">
            <button style="flex: 1; margin-right: 70%; margin-left: 10%;" mat-button (click)="routeToLogin()">Already a
                member? Login now</button>
        </div>
    </mat-card>
</div>