<div class="loginBody">
    <mat-card class="loginCard">
        <img src="assets/haze-logo.png" alt="Haze Png" class="imageStyle">
        <br>
        <h1 style="text-align: center; font-weight: bold;">Create Admin</h1>
        <br>
        <form [formGroup]="registerGroup">
            <p style="color:red; margin-left: 10%;" *ngFor="let error of errors">{{error}}</p>
            <p style="color: green; margin-left: 10%;" *ngIf="success == true">Admin successfully registered! Routing to store page</p>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>First name</mat-label>
                <input matInput [formControl]="firstNameCtrl">
                <mat-error *ngIf="firstNameCtrl.hasError('required')">First name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Last name</mat-label>
                <input id="lastNameCtrl" matInput [formControl]="lastNameCtrl">
                <mat-error *ngIf="lastNameCtrl.hasError('required')">Last name is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Password</mat-label>
                <input id="passwdCtrl" matInput type="password" [formControl]="passwdCtrl">
                <mat-error *ngIf="passwdCtrl.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="passwdCtrl.hasError('pattern')">Password must be minimum eight characters, at least
                    one letter and one number</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Birth date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="birthDateCtrl">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Birth date is required</mat-error>
            </mat-form-field>

            <br>
            <div style="display: flex;">
                <button mat-stroked-button (click)="attemptCreate()" class="buttonStyle" style="flex: 1; max-width: 50%;">Submit</button>
                <button mat-stroked-button (click)="routeToStore()" style="flex: 1; max-width: 10%; position: absolute;">Cancel</button>
            </div>
        </form>
    </mat-card>
</div>