<div class="loginBody">
    <mat-card class="loginCard">
        <img src="assets/haze-logo.png" alt="Haze Png" class="imageStyle">
        <br>
        <h1 style="text-align: center; font-weight: bold;">Register</h1>
        <br>
        <mat-form-field appearance="fill" class="inputSet">
            <mat-label>Username</mat-label>
            <input matInput>
            <mat-error></mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill"  class="inputSet">
            <mat-label>Email</mat-label>
            <input matInput>
            <mat-error></mat-error>
        </mat-form-field>
        <br><br>
        <mat-form-field appearance="fill"  class="inputSet">
            <mat-label>Password</mat-label>
            <input matInput>
            <mat-error></mat-error>
        </mat-form-field>
        <br><br>
        <button mat-stroked-button class="buttonStyle" (click)="attemptCreate()">Register</button>
        <br>
    </mat-card>
</div>