.container{
    width: 50%;
    min-width: 400px;
    margin: auto;
}

#friend-list { 
    display: block;
    margin: 0;
    padding: 0;
    //width: 300px;
    background: #EEE;
    list-style-type: none;
  }
  
  .friend {
    //width: 300px;
    height: 60px;
    background: #EEE;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDD;
    cursor: pointer;
  }
  
  .friend img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid #AAA;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 10px;
  }
  
  .friend .name {
    flex: 1;
    font-size: 18px;
    align-self: center;
  }
  
  .friend.selected {
    background: #43A047;
    color: white;
  }
  
  .friend.selected img {
    border-color: white;
  }
  
  .friend:not(.selected):hover {
    background: #DDD;
  }