#login-form {
    width: 40%;
    margin: 2% auto;
    padding: 5%;
    border: 1px solid white;
    border-radius: 25px;
}

#login-logo {
    width: 30%;
    margin:0 auto;
    display: block;
}

.fields-wrapper {
    width: 80%;
    margin: 0 auto;
}

.fields-wrapper input {
    border-radius: 25px;
    margin: 1em 0;
    padding: 1em;
    width: 100%
}

.fields-wrapper label {
    margin: 1em 0;
    display: block;
}

#submit {
    width: 106%;
    color: white;
}