<form id="login-form" method="POST" action="">
    <img id="login-logo" src="/assets/images/haze-logo.png" alt="image">
    <div class="fields-wrapper">
        <label for="username">Username</label>
        <input id="username" type="text">
        <div id="username-error"></div>
    </div>
    <div class="fields-wrapper">
        <label for="password">Password</label>
        <input id="password" type="password">
        <div id="password-error"></div>
    </div>

    <div class="fields-wrapper">
        <input id="submit" type="submit" value="Submit">
    </div>
</form>  
