<div class="loginBody">
    <mat-card class="loginCard">
        <img src="assets/haze-logo.png" alt="Haze Png" class="imageStyle">
        <br>
        <h1 style="text-align: center; font-weight: bold;">Login</h1>
        <br>
        <h2 style="text-align: center; color: red; font-weight: bold;" *ngIf="loginFail == true">Logon Failed, Check Username or Password</h2>
        <br>
        <form [formGroup] = "loginGroup">
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Username</mat-label>
                <input [formControl]="usernameCtrl" id="usernameInput" matInput>
                <mat-error *ngIf="usernameCtrl.hasError('required')">UserName is required.</mat-error>
            </mat-form-field>
            <br><br>
            <mat-form-field appearance="fill"  class="inputSet">
                <mat-label>Password</mat-label>
                <input type="password" [formControl]="passwdCtrl" id="passwordInput" matInput>
                <mat-error *ngIf="passwdCtrl.hasError('required')">Password is required.</mat-error>
            </mat-form-field>
        </form>
        <br><br>
        <button mat-stroked-button (click)="attemptLogin()" class="buttonStyle">Submit</button>
        <br>
        <br>
        <div style="display: flex;">
            <button style="flex: 1; width: auto;" mat-button (click)="routeToRegister()">Not a member? Register now</button>
            <button style="margin-left: 70%; flex: 1;" mat-button (click)="routeToPasswordRecovery()">Forgot Password</button>
        </div>
    </mat-card>
</div>