<div class="loginBody">
    <mat-card class="loginCard">
        <img src="assets/haze-logo.png" alt="Haze Png" class="imageStyle">
        <br>
        <h1 style="color: black; text-align: center; font-weight: bold;">{{selectedEventInfo.eventName}}</h1>
        <br>
        <form [formGroup]="eventGroup">
            <p style="color:red; margin-left: 10%;" *ngFor="let error of errors">{{error}}</p>
            <p style="color: green; margin-left: 10%;" *ngIf="success == true">User successfully registered for {{selectedEventInfo.eventName}}! Routing to store.</p>

            <div style="margin-left: 10%;">
                <h1 style="color: black;">Event Info</h1>
            </div>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Event Name</mat-label>
                <input [readonly]="isNotEditing" matInput [formControl]="eventNameCtrl">
                <mat-error>Event name is required</mat-error>
            </mat-form-field>
            <div style="margin-left: 10%;">
                <h1 style="color: black;">Date Info</h1>
            </div>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>Start Date</mat-label>
                <input [disabled]="isNotEditing" matInput [formControl]="startDateCtrl" [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>Start date is required</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="inputSet">
                <mat-label>End Date</mat-label>
                <input [disabled]="isNotEditing" [min]="startDateCtrl.value" matInput [formControl]="endDateCtrl" [matDatepicker]="picker2">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error>End date is required</mat-error>
            </mat-form-field>
            <br>
            <div style="margin-left: 10%;">
                <h1 style="color: black;">Included Games</h1>
            </div>
            <div style="margin-left: 10%;">
                <span class="example-list-section">
                    <ul>
                        <li *ngFor="let game of selectedEventInfo.products">
                            <mat-checkbox [disabled]="isNotEditing"
                            (click)="addGame(game)"
                            [checked]="true"
                            [color]="'primary'">
                                {{game.product.productName}}
                            </mat-checkbox>
                        </li>
                    </ul>
                </span>
            </div>
            <br>
            <!--
            <div style="display: flex; margin-bottom: 2%;">
                <button mat-stroked-button (click)="createEvent()" class="buttonStyle"
                    style="flex: 1; max-width: 50%;">Submit</button>
                <button mat-stroked-button (click)="routeToStore()"
                    style="flex: 1; max-width: 10%; position: absolute;">Cancel</button>
            </div>
            -->
            <section *ngIf="userInfo.role == 'User'">
                <button mat-stroked-button class="buttonStyle" (click)="registerForEvent()">Register for event</button>
                <br>
            </section>
            <button mat-stroked-button class="buttonStyle" [routerLink]="['/store']">Navigate back</button>
        </form>
    </mat-card>
</div>