<app-web-banner></app-web-banner>
<div class="preferencesBodyStyle">
    <mat-card class="preferencesCardStyle">
        <h1 style="text-align: center;">Preferences</h1>
        <div class="preferencesFormSpot">
            <form [formGroup]="preferencesGroup">
                <h2 style="margin-left: 10%; color: red; font-weight: bold;" *ngIf="errors[0]">Select a max of 3 Categories!</h2>
                <h2 style="margin-left: 10%; color: red; font-weight: bold;" *ngIf="errors[1]">Select a max of 2 Platforms!</h2>
                <h2 style="margin-left: 10%; color: red; font-weight: bold;" *ngIf="errors[2]">Something went wrong. Please try again.</h2>
                <section>                    
                    <h1 style="margin-left: 10%;">Favorite Category (or categories)</h1>
                    <h2 *ngFor="let category of categories; let i = index" [attr.data-index]="i" style="margin-left: 15%;">
                        <mat-checkbox [checked]="categories[i].checked" value="{{category.id}}" (change)="onCheckboxChange(category.id, true)">{{category.name}}</mat-checkbox>
                    </h2>
                </section>
                <br>
                <section>
                    <h1 style="margin-left: 10%;">Favorite Platform (or platforms)</h1>
                    <h2 *ngFor="let platform of platforms; let i = index" [attr.data-index]="i" style="margin-left: 15%;">
                        <mat-checkbox [checked]="platforms[i].checked" value="{{platform.id}}" (change)="onCheckboxChange(platform.id, false)">{{platform.name}}</mat-checkbox>
                    </h2>
                </section>
                <br>
                <mat-error *ngIf=""></mat-error>
                <br>
                <br>
                <button class="buttonStyle" mat-stroked-button (click)="submitPreferenceChanges()">Submit</button>
            </form>
        </div>
    </mat-card>
</div>