<app-web-banner></app-web-banner>
<div class="preferencesBodyStyle">
    <mat-card class="preferencesCardStyle">
        <h1 style="text-align: center;">Preferences</h1>
        <div class="preferencesFormSpot">
            <form [formGroup]="preferencesGroup">
                <p style="color:red; margin-left: 10%;" *ngFor="let error of errors">{{error}}</p>
                <section>                    
                    <h1 style="margin-left: 10%;">Favorite Category (or categories)</h1>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox checked id="cat1" value="1">Shooter</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="cat2" value="2">Platformer</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox  id="cat3" value="3">Rogue-Like</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox  id="cat4" value="4">Strategy</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox  id="cat5" value="5">MOBA</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="cat6" value="6">Role Playing Game (RPG)</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="cat7" value="7">Action-Adventure</mat-checkbox>
                    </h2>
                </section>
                <br>
                <section>
                    <h1 style="margin-left: 10%;">Favorite Platform (or platforms)</h1>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="plat1" value="1">PC</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="plat2" value="2">XBox</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="plat3" value="3">Playstation</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="plat4" value="4">Nintendo</mat-checkbox>
                    </h2>
                    <h2 style="margin-left: 15%;">
                        <mat-checkbox id="plat5" value="5">Mobile</mat-checkbox>
                    </h2>
                </section>
                <br>
                <mat-error *ngIf=""></mat-error>
                <br>
                <br>
                <button class="buttonStyle" mat-stroked-button (click)="submitPreferenceChanges()">Submit</button>
            </form>
        </div>
    </mat-card>
</div>