<app-web-banner></app-web-banner>
<div class="profileBodyStyle">
    <mat-card class="profileCardStyle">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Update Profile Information</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="infoFormSpot">
                    <mat-form-field appearance="fill" class="infoInputs">
                        <mat-label>First Name</mat-label>
                        <input [formControl]="firstNameCtrl" matInput>
                        <mat-error *ngIf="firstNameCtrl.hasError('required')">First Name is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="infoInputs">
                        <mat-label>Last Name</mat-label>
                        <input [formControl]="lastNameCtrl" matInput>
                        <mat-error *ngIf="lastNameCtrl.hasError('required')">Last Name is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="infoInputs">
                        <mat-label>Gender</mat-label>
                        <input [formControl]="genderCtrl" matInput>
                        <mat-error></mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="infoInputs">
                        <mat-label>Birth Date</mat-label>
                        <input [formControl]="birthDateCtrl" matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-checkbox style="margin-left: 10%;" [formControl]="newsletterCtrl">Sign up for promotional
                        emails</mat-checkbox>
                    <br>
                    <br>
                    <button class="buttonStyle" mat-stroked-button (click)="submitProfileChanges()">Submit</button>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let item of currentCards; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>Payment Method {{i + 1}}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="infoFormSpot">
                    <div *ngIf="updatingCard == false">
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Card Number</mat-label>
                            <input value="{{item.creditCardNumber}}" [disabled]="!updatingCard" matInput>
                            <mat-error *ngIf="firstNameCtrl.hasError('required')">First Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Expiration Date</mat-label>
                            <input value="{{item.expiryDate}}" [disabled]="!updatingCard" matInput>
                            <mat-error *ngIf="lastNameCtrl.hasError('required')">Last Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Billing Address</mat-label>
                            <input value="{{item.billingAddress}}" [disabled]="!updatingCard" matInput>
                            <mat-error></mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Shipping Address</mat-label>
                            <input value="{{item.shippingAddress}}" [disabled]="!updatingCard" matInput>
                        </mat-form-field>
                        <br>
                        <div style="width: 100%; display: flex;">
                            <button style="flex: 1; margin-right: 2%; margin-left: 2%;"
                                (click)="updatingCreditCard(item)" mat-stroked-button>Update Credit Card</button>
                            <button (click)="deleteCard(item)" style="flex: 1; margin-right: 2%; margin-left: 2%;" mat-stroked-button>Delete Credit
                                Card</button>
                        </div>
                        <br>
                    </div>
                    <div *ngIf="updatingCard == true">
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Card Number</mat-label>
                            <input [formControl]="creditCardNumCtrl" [disabled]="!updatingCard" matInput>
                            <mat-error *ngIf="firstNameCtrl.hasError('required')">First Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Expiration Date</mat-label>
                            <input [formControl]="expiryCtrl" [disabled]="!updatingCard" matInput>
                            <mat-error *ngIf="lastNameCtrl.hasError('required')">Last Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Billing Address</mat-label>
                            <input [formControl]="billingAddressCtrl" [disabled]="!updatingCard" matInput>
                            <mat-error></mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="infoInputs">
                            <mat-label>Shipping Address</mat-label>
                            <input [formControl]="shippingAddressCtrl" [disabled]="!updatingCard" matInput>
                        </mat-form-field>
                        <br>
                        <div style="width: 100%; height: auto; display: flex;" *ngIf="updatingCard">
                            <button mat-stroked-button style="width: 30%; flex: 1; margin-left: 25%; margin-right: 5%;"
                                (click)="submitUpdateCall()">Submit Changes</button>
                            <button mat-stroked-button style="width: 30%; flex: 1; margin-left: 5%; margin-right: 25%;"
                                (click)="cancelChanges()">Cancel</button>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <br>
        <button mat-stroked-button (click)="navigatePayment()" style="margin-left: 85%;">Add Payment Options</button>
    </mat-card>
</div>